.main-menu {
  position: relative;
  justify-content: center;
  align-items: center;
}
.main-menu:last-child::after {
   content: url(https://www.jochen-schweizer.de/on/demandware.static/Sites-JSShop-Site/-/default/v1576969335199/images/xmas/ice-crystal.svg);
    padding-left: 5px;
    width: 20px;
    height: 20px;
}

ul li:first-child a {
  padding-left: 0;
}
ul li:last-child a {
  padding-right: 0;
}

.main-menu .mega-menu-title{
  border-bottom: 1px solid #DBDBDB;
  font-weight: 600;
  padding: 10px 5px;
  text-transform: uppercase;
}
.sub-menu {
  background: #fff;
  color: #000;
  display: none;
   right: 0;
    text-align: left;
    position: absolute;
    left: 0;
    top: 100%;
    max-height: calc(100vh - 112px);
    max-width: 100vw;
    overflow: auto;
    z-index: 9000;
    transition: opacity .1s linear .4s,visibility 0ms linear .41s;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}


ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.sub-menu h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #DBDBDB;
}
.sub-menu h4:hover {
    color: #007aa5;
}
.sub-menu li {
  display: flex;
  list-style: none;
  font-size: 12px;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: left;
}

.main-menu li {
  display: inline-block;
}
.main-menu li:hover .sub-menu {
  display: block;
  transition-delay:1s;
}

.main-menu a {
  color: #444;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.main-menu .nav-item:hover {
    box-shadow: inset 0 -1px 0 0 #DBDBDB;
    transition: opacity .25s 0s,visibility 0s 0s;
}
.main-menu .nav-item {
   
}
.col li:hover {
    color: #007aa5;
    box-shadow: inset 0 -1px 0 0 #007aa5;
}

.sub-menu-container {
    max-width: 1000px;
    margin: 0 auto;
    -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  max-height: 800px;
  padding: 0 0.5em;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
    
}
.sub-menu-col {
  display: inline-block;
}
.col {
  display: flex;
  flex-direction: column;
}
